* {
    /*box-sizing: border-box;*/
}

.frame-selected {
    outline: 1px solid rgb(56, 147, 212);
    border: 1px solid rgb(56, 147, 212) !important;
    /*color: rgb(56, 147, 212);*/
    /*background: rgb(56, 147, 212);*/
}

.dd-target {
    background: rgb(56, 147, 212);
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
}

.row-group {
    display: flex;
    flex-flow: row nowrap;
}

.col-group {
    display: flex;
    flex-flow: column;
}

.col-group, .row-group {
    border: 1px dotted black;
    padding: 16px;
    flex-basis: 100%;
    gap: 16px;
}

.col-group:hover {
    /*background: #b1b1b1;*/
}

.row-group:hover {
    /*background: #5c8ab1;*/
}

.frame {
    cursor: pointer;
    flex-basis: 100%;
    padding: 16px;
    border: 1px dotted black;

    min-width: 80px;
    min-height: 40px;
}

.frame > div:hover {
    /*background: #47b171;*/
}


.frame > div {
    /*border: 1px dotted black;*/

    /* Prevent text selection on all supported browsers*/
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}